@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular')
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons.md-48 { font-size: 48px; }
  
body {
  margin: 0;
  background-color: black;
  color: white;
  overflow-x:hidden;
}

h1{
  margin: 0;
}


#cover{
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: 10% 50%; 
}

.checked {
  color: orange;
}

.navbar{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
  justify-content: flex-end;
  box-shadow: 0px 0 5px 1px white;
}

.logo{
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  position: absolute;
  left: 5px;
  top: 0;
}

#searchsubmit{
  background-color: black;
  color: white;
  border: white 1px solid; /* border prop : COLOR SIZE STYLE */
  font-family: 'PT Sans', sans-serif;
  width: 100px;
  height: 30px;
  font-size: 18px;
  position: absolute;
  right: 50px;
  top: 9px;
}

#searchbar{
  height: 26px;
  border: white 1px solid;
  font-size: 18px;
  top: 9px;
  position: absolute;
  right: 150px;
}

#search{
  align-items: center;
  height: 30px;
  overflow: hidden;
}

#hometitle{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#mininavbar{
  position: absolute;
  top: 50px;
  height: 150px;
  width: 200px;
  float: right;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  background-color: black;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0px 0px 5px 1px white;
}

#logout{
  background-color: black;
  color: white;
  font-family: 'PT Sans', sans-serif;
  border: 0;
  font-size: 16px;
}

.drinkcard{
  width: 95%;
  height: 200px;
  margin-left: 1.7%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  color: black;
}

.drinkcontents{
  width: 100%;
  padding-left: 10px;
}

